body{
    padding: 0 2em;
    background-color: #123123;

}


header{
    background-image: url("jp_topoFundo.jpg");
    
}

header img {  
    height: 150px;
    padding: 15px; 
}

header a {
    color: aliceblue;
    text-decoration: none; /* Remove sublinhado */
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.containerMenu {
    width: 500px;
    height: 40px;
    background-image: url("jp_menuFundo.jpg");
    position: relative;
    top: -95px;
    left: 395px;
    border: 2px solid #ffff;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
}

.img-red, .img-yellow {
    border-radius: 3px;
    margin: 2em;
}

.img-yellow {
    border: 5px solid rgb(209, 206, 11); 
}

.img-red {
    border: 5px solid rgb(211, 27, 27); 
}


.section-grey, .section-white{
    padding: 35px;
    text-align: justify;
    display: flex;
}

.section-white {
    background-color: rgb(255, 255, 255);

}

.section-grey {
    background-color: rgb(73, 73, 73);
    color: aliceblue;
}


h1 {
    background-color: rgb(104, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin: 0;
}

#h2 {
    text-align: center;
}


footer  {
    background-color: rgb(104, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 35px;
    margin: 0 auto;
    color: white;
    background-image: url(jp_topoFundo.jpg);
    font-size: 16px;
}


.tabela {
    padding: 35px;
    background-image: url(jp_fundoSelva.jpg);
    margin: 0%;
    text-align: center;
    background-attachment: fixed;
}

.tituloPremios {
    position: relative;
    top: -9px;
    margin: 0 auto;
    color: white;
}

.tabelaPremios {
    position: relative;
    top: -8px;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

.thPremios {
    background-color: #333333;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.tr-grey , .tr-yellow {
    text-align: center;
}

.tr-grey {
    background-color: #999999;
}

.tr-yellow {
    background-color: #dddd00;
}
