body{
    padding: 0 2em;
    background-color: #123123;

}


header{
    background-image: url("jp_topoFundo.jpg");
    
}

header img {  
    height: 150px;
    padding: 15px; 
}

header a {
    color: aliceblue;
    text-decoration: none; /* Remove sublinhado */
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.containerMenu {
    width: 500px;
    height: 40px;
    background-image: url("jp_menuFundo.jpg");
    position: relative;
    top: -80px;
    left: 395px;
    border: 2px solid #ffff;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
}

.img-red, .img-yellow {
    border-radius: 3px;
    margin: 2em;
}

.img-yellow {
    border: 5px solid rgb(209, 206, 11); 
}

.img-red {
    border: 5px solid rgb(211, 27, 27); 
}


.section-grey, .section-white{
    padding: 35px;
    text-align: justify;


    display: flex;
}

.section-white {
    background-color: rgb(255, 255, 255);
}

.section-grey {
    background-color: rgb(73, 73, 73);
    color: aliceblue;
}


h1 {
    background-color: rgb(104, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin: 0;
}

#h2 {
    text-align: center;
}


footer  {
    background-color: rgb(104, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 20;
}


table {
    width: 40%; 
    margin: 40px;

}

th {
    background-color: #353232;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 0.6px solid #222222;
}

